.container {
  // display: flex;
  width: 700px;
  // padding-bottom: 70px;
  // padding-top: 100px;
}
.domaine {
  display: flex;
  gap: 20px;
  flex-direction: row;
  font-weight: 400;

  // justify-content: center;
  align-items: center;
  width: 54%;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.h2 {
  font-size: 20px;
  padding: 20px 0px 20px 56px;
  font-weight: 200;
  color: #ffffff;
}
.skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 100;
  width: 100%;
  padding-left: 30px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.title {
  font-size: 30px;
  padding: 50px 0px 0px 56px;
}

.resume {
  color: #00ff95;
}
.span::before {
  content: ' ';
  width: 2px;
  background: linear-gradient(0deg, #07339a, #188b00);
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: -24px;
}
.telechargement {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.testbuttons {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s;
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }
}

.testbuttons {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  // width: 100%;
}
.testbutton {
  // width: 22px;
}

// .testbuttons::before {
//   content: ' ';

//   width: 2px;
//   background: linear-gradient(0deg, #07339a, #188b00);
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: -30px;
// }

.span {
  position: relative;
  display: flex;
  padding-left: 20px;
  margin-left: 38px;
  font-size: 0.9em;
  font-weight: 100;
  line-height: 2;
}

.resume {
  display: flex;
}

@media screen and (max-width: 1064px) {
  .container {
    width: 100%;
  }
}
