.container {
  display: flex;
  flex-direction: column;
  // justify-content: right;
  align-items: flex-end;
  margin-right: 256px;
}

.linkToSkills {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linkToSkills::before {
  content: ' ';

  width: 2px;
  background: linear-gradient(0deg, #07339a, #188b00);
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
}

// .testbuttons {
//   position: relative;

//   &::after {
//     content: '';
//     position: absolute;
//     bottom: -2px;
//     left: 0;
//     width: 0;
//     height: 2px;
//     background-color: rgb(255, 255, 255);
//     transition: all 0.3s;
//   }

//   &:hover::after,
//   &:focus::after {
//     width: 100%;
//   }
// }

.title {
  font-size: 30px;
  padding: 50px 40px 20px 20px;
}
