footer {
  background-color: #21314a00;
  padding: 20px;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 100%;
  ::before {
    content: '';
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, #9a9807, #8b0000);
    opacity: 1;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
  }
  ::after {
    content: '';
    height: 1px;
    width: 100%;
    background: linear-gradient(0deg, #9a9807, #8b0000);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
  }
  ::before {
    content: ' ';
    width: 100%;
    height: 1px;
    background: linear-gradient(135deg, #9a9807, #8b0000);
    opacity: 1;
    border-top-left-radius: 8px;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: -2px;
    bottom: 0;
    left: -2px;
  }

  .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .footer-section {
      flex: 1 1 300px;
      margin-right: 30px;
      margin-left: 60px;

      h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 5px;
      }

      .social-links {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          margin-right: 10px;

          a {
            color: #ffffff;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .footer-bottom {
    text-align: center;
    font-size: 12px;
    color: #ece8e8;
  }
}
