.container {
  // display: flex;
  width: 700px;
}

.biographie {
  font-size: 30px;
  padding: 50px 0px 54px 56px;
}
.presentation {
  color: #ffffff;
  font-size: 17px;
  padding-left: 0px;
}
.span::before {
  content: ' ';
  width: 2px;
  background: linear-gradient(0deg, #07339a, #188b00);
  position: absolute;
  top: 6px;
  bottom: 6px;
  left: -24px;
}

.span {
  padding-left: 20px;
  margin-left: 38px;
  font-size: 0.9em;
  font-weight: 100;
  line-height: 1.6;
  display: block;
  position: relative;
}

@media screen and (max-width: 1064px) {
  .container {
    width: 100%;
  }
}
