.container {
  // display: flex;
  padding-top: 50px;
  width: 60%;
}

.title {
  display: flex;
  color: #ffffff;
  font-size: 50px;
  font-weight: 200;
  // padding: 50px 0px 20px 20px;
  justify-content: start;
  align-items: start;
}
.list {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 20px;
  list-style-type: none;
  align-items: flex-start;

  a {
    // display: flex;
    // flex-direction: column;

    // padding: 20px 0px 0px 20px;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
    // display: inline-block;
    position: relative;
    line-height: 1.5;
    cursor: pointer;
  }
  a::before {
    content: '';
    height: 1px;
    width: 100%;
    background: linear-gradient(90deg, #9a9807, #8b0000);
    opacity: 1;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
  }
  a::after {
    content: '';
    height: 1px;
    width: 100%;
    background: linear-gradient(0deg, #9a9807, #8b0000);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
  }
  list::before {
    content: ' ';
    width: 90px;
    height: 90px;
    background: linear-gradient(135deg, #9a9807, #8b0000);
    opacity: 1;
    border-top-left-radius: 8px;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: -2px;
    bottom: 0;
    left: -2px;
  }
}

.description {
  padding-top: 20px;
  color: #ffffff;
  font-size: 17px;
  font-weight: 100;
}
